{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}New Course{% endblock %}
{% block js %}
  <script src="{% static 'new/js/new.js' %}"></script>
{% endblock %}

{% block content %}
  <!-- Type here passes off to our controller in its scope !-->
  <div ng-app"lumxWrap">
    <div ng-controller="form-handler" model="course">

      <form method="post" ng-submit="submit()">
        {% csrf_token %}

        {% verbatim %}
        <div flex-container="row" ng-model="vald" 
             class="p+ error bgc-red-500 tc-white-1"
             ng-show="valid.error != ''">
          <center>
            {{ valid.error }}
          </center>
        </div>
          <div flex-item style="margin-left: 5%; margin-right: 5%" class="bgc-light-blue-800 p+">
            <lx-select ng-model="data.department" placeholder="department"
                       choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'departments_matching')" 
                       loading="{{ ajax.loading }}" min-length="2" allow-clear="true"
                       error="valid.department != ''"
                       class="tc-white-1">
              <lx-select-selected>
                {{ $selected.name + ' (' + $selected.school_name + ')' }}
              </lx-select-selected>

              <lx-select-choices>
                {{ $choice.name + ' (' + $choice.school_name + ')' }}
              </lx-select-choices>
            </lx-select>
          </div>

          <div flex-item>
              <lx-text-field label="Course name">
                  <input type="text" ng-model="data.name" error="valid.name != ''">
              </lx-text-field>
              <span class="text-field-error" ng-show="valid.name != ''">{{ valid.name }}</span>
          </div>

          <div flex-item>
              <lx-text-field label="Course number">
                  <input type="text" ng-model="data.number" error="valid.number != ''">
              </lx-text-field>
              <span class="text-field-error" ng-show="valid.number != ''">{{ valid.number }}</span>
          </div>
        </div>

        <div flex-container="row">
          <div flex-item>
            <button class="btn btn--l btn--blue btn--raised"type="submit"
                    ng-submit="submit()" lx-ripple />Add Course</button>
          </div>
        </div>

        {% endverbatim %}


          <div class="toolbar__right">
              <lx-search-filter model="searchFilter.third" position="right" filter-width="400px" theme="dark" closed></lx-search-filter>
          </div>



        </form>
      </div>
    </div>
{% endblock %}
