{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}New Field{% endblock %}
{% block js %}
  <script src="{% static 'new/js/new.js' %}"></script>
{% endblock %}

{% block content %}
  <!-- Type here passes off to our controller in its scope !-->
  <div ng-app"lumxWrap">
    <div ng-controller="form-handler" model="field">

      <form method="post" ng-submit="submit()">
        {% csrf_token %}

        {% verbatim %}
        <div flex-container="row" ng-model="vald" 
             class="p+ error bgc-red-500 tc-white-1"
             ng-show="valid.error != ''">
          <center>
            {{ valid.error }}
          </center>
        </div>
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
              <lx-text-field label="Field Name">
                  <input type="text" ng-model="data.name" error="valid.name != ''">
              </lx-text-field>
              <span class="text-field-error" ng-show="valid.name != ''">{{ valid.name }}</span>
          </div>

          <div flex-item style="margin-left: 5%; margin-right: 5%" class="bgc-light-blue-800 p+">
            <lx-select ng-model="data.fieldcategory" placeholder="Field Categories"
                       choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'fieldcategories_matching')" 
                       loading="{{ ajax.loading }}" allow-clear="true"
                       error="valid.fieldcategory != ''"
                       class="tc-white-1" multiple floating-label>
              <lx-select-selected>
                {{ $selected.name }}
              </lx-select-selected>

              <lx-select-choices>
                {{ $choice.name }}
              </lx-select-choices>
            </lx-select>
            <span class="text-field-error" ng-show="valid.fieldcategory != ''">{{ valid.fieldcategory }}</span>
          </div>
        </div>

        {% endverbatim %}

        <button class="btn btn--l btn--blue btn--raised"type="submit" ng-submit="submit()" lx-ripple />Submit Review</button>


        </form>
      </div>
    </div>
{% endblock %}
