/*
 * Custom Layout CSS
 *
 */

.o-wrapper {
  padding-top: 20px;
}

.top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  z-index: 0;
  float: top;
}

/* Override some lumx stuff to center buttons */

.toolbar {
  position: relative;
  top: -5px;
}

#c-button--push-left {
  position: relative;
  top: -7.5px;
}

.custom-form {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (min-width: 1000px){
    .mobile {
        visibility: hidden;
    }
}

@media (max-width: 1001px){
    .desktop {
        visibility: hidden;
    }
    .mFont {
        background-color: red;
        font-size: 70px;
    }
}
/* Body and html should span whole page
 * https://www.kirupa.com/html5/make_body_take_up_full_browser_height.htm
 */
html {
  height: 100%;
}

body {
  min-height: 100%;
