figure.profile-banner {
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    z-index: 1;
}

figure.profile-picture {
    border: 5px #f49832 solid;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
    height: 200px;
    width: 200px;
    margin:0 auto;
    margin-top: 10px;
}

div.profile-stats ul li {
    color: #efefef;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

div.profile_banner {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: 500px;
    padding: 40px;
    background-color: #E6E6E6;
    border-top: 1px solid rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 19px 50px 0 rgba(0,0,0,0.8);
    -moz-box-shadow: 0 19px 50px 0 rgba(0,0,0,0.8);
    box-shadow: 0 19px 50px rgba(0,0,0,0.8);
    z-index: 1;
}

div.profile_picture {
    margin-top: 10px;
    position: relative;
    width: 250px;
    height: 400px;
    padding: 10px;
    background-color: #595959;
    -webkit-box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.75);
}

div.profile_name {
    position: absolute;
    padding-left: 20px;
    text-align: left;
    z-index: 10;
}

div.profile_slider {
    position: relative;
    margin: 10px;
    padding-left: 20px;
    width: 100%;
}

div.profile_data{
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
}

h3.profile {
    color: #e6e6e6;
    font-size: 15px;
    text-align: left;
}

h1.profile {
    font-size: 30px;
    color: #E6E6E6;
}

div.picture_box {
    display: -webkit-flex;
    display: flex;
    width: auto;
    margin-left: 5px;
    position: relative;
    width: 100%;
}

div.box_left {
    height: 0;
    width: 30%;
    margin-right: 0px;
    position: absolute;
    border-top: 400px solid #0277bd;
    border-right: 200px solid transparent;
    z-index: 1;

}

div.box_right {
    height: 0;
    width: 30%;
    right: 0;
    position: absolute;
    border-bottom: 400px solid #0277bd;
    border-left: 200px solid transparent;
    -webkit-box-shadow: 12px 10px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 10px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 12px 10px 15px -8px rgba(0,0,0,0.75);
}

div.box_mid {
    margin-top: 90px;
    height: 230px;
    width: 90%;
    background-color: #FE9A2E;
    -webkit-box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75);
}

/*.box_fill:before {
     transform:skewX(-20deg);
    -ms-transform:skewX(-20deg);
    -webkit-transform:skewX(-20deg);
}*/

/*Parallax scrolling CSS*/

.story {
    height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#profile_header {
    height:300px;
    margin-top: 80px;
    margin-left: 15px;
    max-width: 150px;
    float: left;
    background: url("../img/missourist_puck.jpg") 50% 0 no-repeat fixed;
    width: 100%;
    position: relative;
}

#profile_body {
    /*background: url("../img/slide2.jpg") 50% 0 no-repeat fixed; */
    background-color: #848484;
    -webkit-box-shadow: 0 19px 50px 0 rgba(0,0,0,0.8);
    -moz-box-shadow: 0 19px 50px 0 rgba(0,0,0,0.8);
    box-shadow: 0 19px 50px 0 rgba(0,0,0,0.8);
}
/* Background Only */
#profile_body { padding: 100px 0;}
#profile_body article {
    background-color: #595959;
    color: #fff;
    width: 445px;
    margin-left: 100px;
    padding: 10px 20px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    line-height: 1.5em;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border: 1px solid rgba(150,150,150,0.1);
}
#profile_body article p { margin-bottom: 25px; }
#profile_body article a { color: #ff0;}
