

article h2 { font-family: 'Lobster Two'; font-size: 60px; margin: 25px 0; line-height: 1em; }

.story { height: 1000px; 
		 padding: 0; 
		 margin: 0; 
		 width: 100%; 
		 max-width: 1920px; 
		 position: relative; 
		 margin: 0 auto; 
		 border-top: 1px solid rgba(255,255,255,0.3); 
		 border-bottom: 1px solid rgba(0,0,0,0.4); 
		 box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#profile_header { height:300px; background: url("../img/slide1.jpg") 50% 0 no-repeat fixed; }
#profile_body { background: url("../img/slide2.jpg") 50% 0 no-repeat fixed; }

/* Introduction */
#profile_header article { width: 100%; top: 300px; position: absolute; text-align: center; }
#profile_header article p,
#profile_header article a { color: #ccc; }
#profile_header article a { text-decoration: underline; }
#profile_header article a:hover { color: #fff; }

/* Background Only */
#profile_body { padding: 100px 0;}
#profile_body article { background: url(../images/grain.png) 
						repeat #333; color: #fff; 
						width: 445px; 
						margin-left: 100px; 
						padding: 10px 20px; 
						text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
						line-height: 1.5em; 
						box-shadow: 0 0 25px rgba(0,0,0,0.3); 
						border: 1px solid rgba(150,150,150,0.1); 
}
#profile_body article p { margin-bottom: 25px; }
#profile_body article a { color: #ff0;}

