{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}

{% block content %}
<body>

  <div flex-container="row" >
    <div flex-item="2"></div>
    <div flex-item="8" style="text-align: left;">
      <span class="fs-title display-block mb" style="margin-left:20px;">New Registration</span>
      <span class="display-block fs-body-1 tc-black-2" style="margin-left:20px;">Create your account</span>
      <div class="divider divider--dark"></div>
    </div>
  </div>


  <form class="form-signup" method="post" class="post-form" ng-submit="submit()">
    {% csrf_token %}
    {% verbatim %}
    <div id="register">
    <div flex-container="row" flex-column="12">

      <div flex-item="3"></div>
      <div flex-item="6">
        <div flex-container="row">
          <div flex-item="6" style="padding:0 5px 0 0">
            {{ form.first_name.errors }}
            <lx-text-field label="First Name">
                <input type="text" ng-model="data.first_name" name="first_name">
            </lx-text-field>
          </div>
          <div flex-item="6">
            {{ form.last_name.errors }}
            <lx-text-field label="Last Name">
              <input type="text" ng-model="data.last_name" name="last_name">
            </lx-text-field>
          </div>
        </div>

        {{ form.email.errors }}
        <lx-text-field label="E-mail">
          <input type="text" ng-model="data.email" name="email">
        </lx-text-field>

        {{ form.username.errors }}
        <lx-text-field label="UserName">
          <input type="text" ng-model="data.username" name="username">
        </lx-text-field>

        {{ form.password1.errors }}
        <lx-text-field label="Password">
          <input type="password" ng-model="data.password1"name="password1">
        </lx-text-field>

        {{ form.password2.errors }}
        <lx-text-field label="Repeat Password">
          <input type="password" ng-model="data.password2"name="password2">
        </lx-text-field>

        <!-- <button id="siteButton" class="btn btn--l btn--raised" type="submit" style="margin-top:20px;" lx-ripple />Create account</button> -->
        <button id="siteButton" class="btn btn--l btn--blue btn--raised"
                 lx-ripple type="submit" ng-click="submit(data);">
                 Create Account
        </button>
      </div>
    </div>
    </div>
    {% endverbatim %}
  </form>


</body>
{% endblock %}

<!--

<form class="form-signup" method="post" class="post-form">{% csrf_token %}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label>First name</label>
        <br>
        {{ form.first_name }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label>Last name</label>
        <br>
        {{ form.last_name }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label>E-mail</label>
        <br>
        {{ form.email }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label>Username</label>
        <br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label>Password</label>
        <br>
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label>Password again</label>
        <br>
        {{ form.password2 }}
    </div>
    <br></br>
    <input type="submit" name="submit" class="btn btn-primary" value="Create account">
</form>

-->
