{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}

{% block content %}
<body>

  <div flex-container="row" >
    <div flex-item="2"></div>
    <div flex-item="8" style="text-align: left;">
      <span class="fs-title display-block mb" style="margin-left:20px;">New Registration</span>
      <span class="display-block fs-body-1 tc-black-2" style="margin-left:20px;">Create your account</span>
      <div class="divider divider--dark"></div>
    </div>
  </div>


  <form class="form-signup" method="post" class="post-form" ng-controller="register">
    {% csrf_token %}
    {% verbatim %}
    <div id="register">
    <div flex-container="row" flex-column="12">

      <div flex-item="3"></div>
      <div flex-item="6">
        <div flex-container="row">
          <div flex-item="6" style="padding:0 5px 0 0">
            <lx-text-field label="First Name">
                <input type="text" ng-model="data.first_name" name="first_name">
            </lx-text-field>
            <span class="text-field-error" ng-show="form.first_name">{{ form.first_name }}</span>
          </div>
          <div flex-item="6">
            <lx-text-field label="Last Name">
              <input type="text" ng-model="data.last_name" name="last_name">
            </lx-text-field>
            <span class="text-field-error" ng-show="form.last_name" >{{ form.last_name }}</span>
          </div>
        </div>


        <lx-text-field label="E-mail (Ex: JoeMiner@mst.edu)"
                       lx-tooltip="The E-mail should be the one provided by your institution">
          <input type="email" ng-model="data.email" name="email">
        </lx-text-field>
        <span class="text-field-error" ng-show="form.email" >{{ form.email }}</span>

        <lx-text-field label="UserName">
          <input type="text" ng-model="data.username" name="username">
        </lx-text-field>
        <span class="text-field-error" ng-show="form.username" >{{ form.username }}</span>

        <lx-text-field label="Password">
          <input type="password" ng-model="data.password" name="password">
        </lx-text-field>
        <span class="text-field-error" ng-show="form.password" >{{ form.password }}</span>

        <lx-text-field label="Repeat Password">
          <input type="password" ng-model="data.password2" name="password2">
        </lx-text-field>
        <span class="text-field-error" ng-show="form.password2" >{{ form.password2 }}</span>

        <button id="siteButton" class="btn btn--l btn--blue btn--raised"
                 lx-ripple type="submit" ng-click="submit(data);">
                 Create Account
        </button>
      </div>
    </div>
    </div>
    {% endverbatim %}
  </form>


</body>
{% endblock %}
