
// Lumx colors
$primary:               $blue-500 !default;
$primary-hue-1:         $blue-100 !default;
$primary-hue-2:         $blue-700 !default;
$accent:                $orange-400  !default;
$accent-hue-1:          $orange-300  !default;
$accent-hue-2:          $orange-700  !default;

$button-color-name: "blue";
$button-color: $primary;

$vote-button-color-name: $button-color-name;
$vote-button-color: $button-color;
$vote-button-color-up: $button-color;
$vote-button-color-down: $button-color;

$vote-button-activate-color: $primary-hue-1;
$vote-button-activate-color-up: $vote-button-activate-color;
$vote-button-activate-color-down: $vote-button-activate-color;
