@import "lumx/dist/scss/lumx";
@import "settings";


/* Begin voting classes */
.card-color {
    background-color: #FFFFFF;
}

.background-color {
    background-color: #EEEEEE;
}

.index_layout {
    float: left;
    width: 50%;
}

.index_layout-mobile {
    float:bottom;
    width: 100%;
}

.small_logo {
    width: 50px;
    height: 70px;
    margin-top: -10px;
    margin-right: 40px;
}

.logo {
    width:300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.vote-button {
  @extend .btn;
  @extend .btn--blue;
  @extend .btn--l;
  @extend .btn--flat;
}

.vote-button-up {
  @extend .vote-button;
}

.vote-button-down {
  @extend .vote-button;
}

.vote-button-icon {
  @extend .icon;
  @extend .icon--l;
  @extend .icon--blue;
  @extend .icon--flat;
  @extend .mdi;
}

.vote-button-up-icon {
  @extend .vote-button-icon;
  @extend .mdi-chevron-up;
}

.vote-button-down-icon {
  @extend .vote-button-icon;
  @extend .mdi-chevron-down;
}

.vote-button-active {
  @extend .bgc-grey-300;
}
/* End Voting Classes */


/* Main Page Classes */
.title-block {
  @extend .fs-display-4;
  @extend .display-block;
  @extend .tc-black-1;
  text-align: center;
}

.mobile-title-block {
  @extend .fs-display-3;
  @extend .display-block;
  @extend .tc-black-1;
}

.subtitle-block {
  @extend .fs-display-1;
  @extend .display-block;
  @extend .tc-black-1;
  text-align: right;
}

.sweaters-error {
  @extend .tc-black-1;
  @extend .p+;
  @extend .error !optional;
  @extend .bgc-red-500;
}

.latest-block {
  h2 {
    @extend .tc-black-1;
    @extend .p+;
    text-align: left;
  }

  display: block;
  padding-bottom: 25px;
}

/* Body and html should span whole page
 * https://www.kirupa.com/html5/make_body_take_up_full_browser_height.htm
 */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.header-button {
  margin-top: 5px;
  display: inline-block;
}

.toolbar {
  position: relative;
  margin-top: -10px;
  margin-right: 20px;
}

.o-wrapper {
  padding-top: 10px;
}

.top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  z-index: 0;
  float: top;
  box-shadow: 0 9px 20px 0 rgba(0,0,0,1);
}
/* End Main Page Classes */

/* Supporting classes */


/* School / Professor Page Classes */ 
.padded-card {
  @extend .card;
  @extend .tc-black-1;
  
  padding: 5px;
  position: relative;
  margin-top: 15px;

  .information {
    display: inline-block;
    width: 80%;
    z-index: 3;

    .name {
      @extend .tc-black-1;
      @extend .fs-headline;

      display: inline-block;
      position: relative;
      left: -5%;
    }

    /* Fields which, at the bottom of a card, give statistics. */
    .card-stats {
      display: block;
      text-align: right;
      margin-top: 10px;

      .item {
        display: inline-block;
        width: 75px;
        line-height: 17px;
        text-align: center;
      }

      .location {
        display: inline-block;
        text-align: left;
        position: relative;
      }
    }
  }

  .rating {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-35%);
    z-index: 2;

  }
}

.review-rating {
  margin-right: 10px;

  display: inline-block;

  .average {
    width: 50px;
    line-height: 50px;
  }
}

.average {
  @extend .tc-black-1;
  @extend .fs-display-2;

  display: inline-block;
  width: 60px;
}

.out-of {
  color: $grey-500;

  display: inline-block;
}

.sub-rating {
  @extend .tc-black-1;
  @extend .fs-display-1;

  display: inline-block;
  width: 45px;
  line-height: 50px;
}

.rating-title {
  color: $grey-500;

}

/* End School / Professor Page Classes */ 
