@import "base";

.vote-button-down-container {
  margin-right:15px;
}

.vote-button-up-container {
  margin-top:13%;
  margin-right:15px;
}

.review-card-small {
  @extend .card;
  margin: 10px 0 10px;

  .review-title {
    @extend .fs-headline;
    @extend .display-block;
  }
}

.professor-title {
  display: block;
  text-align: left;
}

.professor-name {
  @extend .tc-black-1;
  @extend .fs-display-2;

  display: inline-block;
}

.professor-avatar {
  margin-right:30px;
  width: 80px;
  height: 80px;
  display: inline-block;
}

.professor-info {
  display: block;
  text-align: left;
  margin-top: 15px;
}

.review-card-large {
  @extend .card;

  .review-title {
    @extend .tc-black-1;
    @extend .fs-headline;

    text-align: left;
    display: block;
    margin-top: 25px;
  }
}

.review-info {
  @extend .tc-black-1;

  text-align: left;
  display: block;

  margin-bottom: 15px;
}

.review-text {
  margin-right: 10px;
  overflow: visible;
  text-align: left;
  margin-bottom: 20px;
}

.review-rating {
  margin-right: 10px;
}

.comment-card {
  @extend .background-color;
  @extend .card;

  margin-top: 15px;
  margin-bottom: 15px;

}

.comment-text {
  overflow: visible;
  text-align: left;
  font-size: 13px;
}
