@import "base";

.vote-button-down-container {
  margin-top:15%;
  margin-right:50px;
}

.vote-button-up-container {
  margin-top:15%;
}

.review-card-small {
  @extend .card;

  .review-title {
    @extend .fs-headline;
    @extend .display-block;
  }
}

.professor-title {
  display: block;
  text-align: left;
}

.professor-name {
  @extend .tc-black-1; 
  @extend .fs-display-2;

  display: inline-block;
}

.professor-avatar {
  margin-right:30px;
  display: inline-block;
}

.professor-info {
  display: block;
  text-align: left;
  margin-top: 15px;
}

.review-card-large {
  @extend .card;

  .review-title {
    @extend .tc-black-1;
    @extend .fs-headline;

    text-align: left;
    display: block;
    margin-top: 25px;
  }
}

.review-info {
  @extend .tc-black-1;

  text-align: left;
  display: block;

  margin-bottom: 15px;
}

.review-text {
  margin-right: 10px;
  overflow: visible;
  text-align: left;
}


.comment-card {
  @extend .card;
  
  @extend .background-color;
}
