{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sweaters but with Peer Reviews - {% block title %}Default{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'browse/js/main.js' %}"></script>
    <script src="{% static 'lib/angular/angular.min.js' %}"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'browse/css/styles.css' %}"> 

    <link rel="stylesheet" type="text/css" href="{% static 'browse/css/reset.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'browse/css/scroll_style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'browse/css/profile_style.css' %}"> 
    <link rel="stylesheet" href="{% static 'browse/bower_components/lumx/dist/lumx.css' %}">

    <link rel="stylesheet" href="{% static 'browse/Slide-Push-Menus/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'browse/Slide-Push-Menus/css/font-awesome.min.css' %}">

    <script src="{% static 'browse/js/script.js' %}"></script>
    <script src="{% static 'browse/js/index.js' %}"></script>

    <script src="{% static 'browse/bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'browse/bower_components/velocity/velocity.js' %}"></script>
    <script src="{% static 'browse/bower_components/moment/min/moment-with-locales.js' %}"></script>
    <script src="{% static 'browse/bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'browse/bower_components/lumx/dist/lumx.js' %}"></script>

    <!--
    <script src="{% static 'browse/Slide-Push-Menus/js/dist/githubIcons.js' %}"></script>
    <script src="{% static 'browse/Slide-Push-Menus/js/dist/carbonAd.js' %}"></script>
    -->
    
    <script src="{% static 'browse/Slide-Push-Menus/js/src/menu.js' %}"></script>
    <script src="{% static 'browse/Slide-Push-Menus/gulpfile.js' %}"></script> 

    {% block header %}{% endblock %}
  </head>
  <body class="bgc-blue-grey-100 p+">
    <div id="o-wrapper" class="o-wrapper">

      
        <button id="c-button--push-left" class="btn btn--l btn--black btn--icon">
          <i class="mdi mdi-menu"></i>
        </button>
      

      <!--<main class="o-content">-->
        <!--<div class="o-container"> -->
          
          <div class="c-buttons">

            <div id="content">
              {% block content %}{% endblock %}
            </div>
          </div>
        <!--</div> /o-container -->
      <!--</main><!-- /o-content -->

    </div>

    <nav id="c-menu--push-left" class="c-menu c-menu--push-left">
      <button class="c-menu__close">&larr; Close Menu</button>
      <ul class="c-menu__items">
        <li class="c-menu__item"><a href="{% url 'index' %}" class="c-menu__link">Index</a></li>
        <li class="c-menu__item"><a href="{% url 'reviews_overview' %}" class="c-menu__link">Reviews</a></li>
        <li class="c-menu__item"><a href="{% url 'school' %}" class="c-menu__link">School</a></li>
        <li class="c-menu__item"><a href="{% url 'professor' %}" class="c-menu__link">Professor</a></li>
        <li class="c-menu__item"><a href="{% url 'profile' %}" class="c-menu__link">Profile</a></li>
        {% if user.is_authenticated %}
          <li class="c-menu__item"><a href="{% url 'logout' %}" class="c-menu__link">Logout</a></li>
        {% else %}
          <li class="c-menu__item"><a href="{% url 'login' %}" class="c-menu__link">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <div id="c-mask" class="c-mask"></div>

    <script src="{% static 'browse/Slide-Push-Menus/js/dist/menu.js' %}"></script>
    <script>
      var pushLeft = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-left',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
      });

      var pushLeftBtn = document.querySelector('#c-button--push-left');
      
      pushLeftBtn.addEventListener('click', function(e) {
        e.preventDefault;
        pushLeft.open();
      });
    </script>
          <!--
          <div flex-container="row" flex-gutter="24" class="card bgc-blue-grey-700 tc-white-1 p+">
          


            
            <div flex-item >
              
              <a href="{% url 'index' %}"><button class="btn btn--m btn--blue btn--raised" lx-ripple>Index</button></a>
            </div>
            <div flex-item>
                <a href="{% url 'reviews_overview' %}"><button class="btn btn--m btn--blue btn--raised" lx-ripple>Reviews</button></a>
            </div>
            <div flex-item>
                <a href="{% url 'school' %}"><button class="btn btn--m btn--blue btn--raised" lx-ripple>Schools</button></a>
            </div>
            <div flex-item>
                <a href="{% url 'professor' %}"><button class="btn btn--m btn--blue btn--raised" lx-ripple>Professors</button></a>
            </div>
            <div flex-item>
                <a href="{% url 'profile' %}"><button class="btn btn--m btn--blue btn--raised" lx-ripple>Profile</button></a>
            </div>
            <div flex-item="6" align="right">
              {% if user.is_authenticated %}
              
                <a href="{% url 'logout' %}"><button class="btn btn--xl btn--blue btn--raised" lx-ripple>Logout</button></a>
              {% else %}
                <a href="{% url 'login' %}"><button class="btn btn--xl btn--blue btn--raised" lx-ripple>Login</button></a></li>
              {% endif %}
            </div> 
          </div>
      -->
    

    {% block js %}{% endblock %}
  </body>
</html>

