{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sweaters but with Peer Reviews - {% block title %}Default{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{% static 'browse/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'browse/css/main.css' %}"> 

    {% block header %}{% endblock %}
  </head>

  <body>
    <ul>
      <li><a href="{% url 'index' %}">Index</a></li>
      <li><a href="{% url 'reviews' %}">Reviews</a></li>
      <li><a href="{% url 'school' %}">Schools</a></li>
      <li><a href="{% url 'professor' %}">Professors</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
    </ul>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
  </body>
</html>

