{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% load gravatar %}



{% block content %}
{% csrf_token %}

  {% if messages %}
    <!-- FIXME: Open login dialog and run that --!>
      {% for message in messages %}
        <div flex-container="row"> 
          <div flex-item class="tc-black-1 p+ error bgc-red-500">
            <center>
              {{ message }}
            </center>
          </div>
        </div>
      {% endfor %}
  {% endif %}
  
  <div id="title" class="fs-display-4 display-block tc-white-1">
    <div>Cardigans But With Peer Reviews</div>
  </div>
    <div flex-container="row">
      <div flex-item="6">
        {% if review_votes|length > 0 %}
          <h2 class="tc-white-1 p+" align="left">Latest {{review_votes|length}} Review(s)</h2>
          {% for review, vote in review_votes %}
      <div class="card" style="margin-bottom: 35px;">
        <div flex-container="row">
          <div class="card__img card__img--left" style="height: 100px;">
            <a href="{% url 'profile' review.owner.id %}">
              <img src="{% gravatar_url review.owner.email 200 %}" style="margin-right:20px;">
            </a>
          </div>
          <div flex-item flex-container="column">
            <a href="{% url 'review' review_id=review.id %}">
              <div flex-item align="left">
                <strong class="fs-headline display-block">Title of Review</strong>
                <span class="display-block fs-body-1 tc-black-2"><b>{{ review.course.name }}</b> <br />
                  with <b> {{ review.target.first_name }} {{ review.target.last_name }} </b>
                <span class="display-block">{{ review.owner.first_name }} {{ review.owner.last_name }}</span>
              </div>
            </a>
          </div>
              <div ng-app="lumxWrap">
              <div flex-container="row" align="right">
                <div style="margin-top:15%">
                  <button lx-type="flat" class="up btn btn--l btn--blue btn--flat {{ vote|yesno:"bgc-deep-purple-900 active,bgc-deep-purple-A500" }}" action="up" lx-ripple>
                    <i class="icon icon--l icon--blue icon--flat mdi mdi-chevron-up"></i>
                  </button>
                </div>
                <div style="margin-top:15%; margin-right:50px;">
                  <button lx-type="flat"class="down btn btn--l btn--blue btn--flat  {{ vote|yesno:"bgc-deep-purple-900 active,bgc-deep-purple-A500" }}" action="down" lx-ripple>
                    <i class="icon icon--l icon--blue icon--flat mdi mdi-chevron-down"></i>
                  </button>
                </div>
              </div>
              </div>
          
        </div>
      </div>
          {% endfor %}
        {% else %}
          <h2>There are no reviews</h2>
        {% endif %}
      </div>
      <div flex-item="6">
        <div class="fs-display-1 display-block tc-white-1">
          Let's Put Some "Eye Candy" Here!
        </div>
      </div>
    </div>
  
  <br /> <br />


{% endblock %}
