{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}New Review{% endblock %}
{% block js %}
  <script src="{% static 'browse/js/new_review.js' %}"></script>
{% endblock %}

{% block content %}
  <div ng-app="">
    <div ng-controller="getReviewForm">
      <form method="post" ng-submit="submit()">
        {% csrf_token %}

        {% verbatim %}
        <div flex-container="row" ng-model="vald" 
             class="p+ error bgc-red-500 tc-white-1"
             ng-show="valid.error != ''">
          <center>
            {{ valid.error }}
          </center>
        </div>
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
            <lx-select ng-model="data.target" change="cbSelect.exec('target', newValue)" placeholder="Professor"
                       choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'professors_matching')" 
                       loading="{{ ajax.loading }}" min-length="2" allow-clear="true"
                       error-if="valid.course"
                       id="target">
              <lx-select-selected>
                {{ $selected.last_name + ', ' + $selected.first_name }}
              </lx-select-selected>

              <lx-select-choices>
                {{ $choice.last_name + ', ' + $choice.first_name }}
              </lx-select-choices>
            </lx-select>
            <span class="text-field-error" ng-show="valid.target != ''">{{ valid.target }}</span>
          </div>
          <div flex-item>
            <lx-select ng-model="data.course" change="cbSelect.exec('course', newValue)" placeholder="Course"
                       choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'courses_matching')" 
                       loading="{{ ajax.loading }}" min-length="2" allow-clear="true"
                       error-if="valid.course"
                       id="course">
              <lx-select-selected>
                {{ $selected.name }} ({{ $selected.number }})
              </lx-select-selected>

              <lx-select-choices>
                {{ $choice.name }} ({{ $choice.number }})
              </lx-select-choices>
            </lx-select>
            <span class="text-field-error" ng-show="valid.course != ''">{{ valid.course }}</span>
          </div>
        </div>
          {% endverbatim %}

      <div flex-container="row">
        <div flex-item>
          <lx-text-field>
            <textarea ng-model="data.text" change="description.update(newValue)" ng-required="true"
                      id="text" placeholder="Review text"></textarea>
          </lx-text-field>
        </div>
      </div>

      <input type="submit" ng-submit="submit()" value="Submit Review"
             class="btn btn--l btn--blue btn--raised" lx-ripple />

        </form>
      </div>
    </div>
{% endblock %}
