{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
  <br />
  {{ message }}<br />
  <br />
  <br />
    <div ng-app="testApp" >
      <div ng-controller="myCount">
            <button ng-click="count = count + 1">Click me!</button>
                  <p>{{ count }}</p>
      </div>
    </div>

<script>
angular.module('reviewForm', [])
.controller('getProfessors', function($scope) {
  //console.log("HELLO!");
  $scope.count = "HI";
  /*
  $http.get('/get/professors').then( function(response) {
    $scope.raw_professors = response.data;
    $scope.professors = []
    response.data.forEach(function(e, i, l) {
      console.log(profobj["fields"]);
      $scope.professors.push(profobj["fields"]);
    });
  });

  $scope.selects = {
    selectedPerson: undefined,
    selectedPersons: [$scope.professors[1], $scope.professors[1]],
    selectedPersons2: []
  };
  */
});

angular.module('course', [])
.controller('getCourses', function($scope) {
  $http.get('/get/courses').then( function(response) {
    $scope.courses = response.data;
  });
});
</script>

  <form method="post">
    {% csrf_token %}

    <div ng-app="">
      <div ng-controller="getReviewForm">
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
            {% verbatim %}
              <!--- old selectin box for prof
              <div flex-container="row" flex-gutter="24">
                  <div flex-item>
                      <lx-select ng-model="professor" placeholder="Professor" choices="professors" floating-label>
                          <lx-select-selected>
                              {{ $selected.last_name + ', ' + $selected.first_name }}
                          </lx-select-selected>

                          <lx-select-choices>
                              {{ $choice.last_name + ', ' + $choice.first_name }}
                          </lx-select-choices>
                      </lx-select>
                  </div>
              </div>
            </div>
            --!>
            <lx-select ng-model="ajax.selected" change="cbSelect.exec(newValue, oldValue)" placeholder="Professor"
                       choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'professors_matching')" 
                       loading="{{ ajax.loading }}" min-length="2" allow-clear="true"
                       selection-to-model="ajax.toModel(data, callback, 'professors_matching')"
                       model-to-selection="ajax.toSelection(data, callback, 'professors_matching')"
                       id="target" ng-required="true">
              <lx-select-selected>
                {{ $selected.last_name + ', ' + $selected.first_name }}
              </lx-select-selected>

              <lx-select-choices>
                {{ $choice.last_name + ', ' + $choice.first_name }}
              </lx-select-choices>
            </lx-select>
          </div>
          <div flex-item>
            <lx-select ng-model="ajax.selected" change="cbSelect.exec(newValue, oldValue)" placeholder="Course"
                       choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'courses_matching')" 
                       loading="{{ ajax.loading }}" min-length="2" allow-clear="true"
                       selection-to-model="ajax.toModel(data, callback, 'courses_matching')"
                       model-to-selection="ajax.toSelection(data, callback, 'courses_matching')"
                       id="course">
              <lx-select-selected>
                {{ $selected.name }} ({{ $selected.number }})
              </lx-select-selected>

              <lx-select-choices>
                {{ $choice.name }} ({{ $choice.number }})
              </lx-select-choices>
            </lx-select>
            <span class="text-field-error" ng-if="anglar.isUndefined(formdata.course)">Required</span>
          </div>
        </div>
          {% endverbatim %}

      <div flex-container="row">
        <div flex-item>
          <lx-text-field ng-required="true">
            <textarea ng-model="description" change="description.update(newValue)"
                      id="text" placeholder="Review text"></textarea>
          </lx-text-field>
        </div>
      </div>

      <input type="submit" ng-submit="submit()" value="Submit Review"
             class="btn btn--l btn--blue btn--raised" lx-ripple />

      </div>
    </div>
  </form>
{% endblock %}
