{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block content %}
  <br />
  {% if users %}
    {% for user in users %}
      {{ user.username }}<br />
    {% endfor %}
  {% else %}
    {{ user.username }}<br />
  {% endif %}
  <br />

  {% for var in numbers %}
    {{ var }}<br />
  {% endfor %}


<body>

  <div>
	<!-- Section #1 / Intro -->
	<section id="first" class="story" data-speed="8" data-type="background">    
		  	
		<!-- Up direction -->
    <div class="fab">
        <button class="fab__primary btn btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left">
            <i class="mdi mdi-android"></i>
            <i class="mdi mdi-plus"></i>
        </button>

        <div class="fab__actions fab__actions--up">
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left"><i class="mdi mdi-delete"></i></button>
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left"><i class="mdi mdi-package"></i></button>
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left"><i class="mdi mdi-pencil"></i></button>
        </div>
    </div>
		  	
		<article>
			<figure class="profile-picture"
			style="background-image: url('{% static 'browse/img/PandaZu.jpg' %}')">
			</figure>
			<div class="profile-stats">
			    <ul>
				    <li>13    <span>Projects</span></li>
				    <li>1,354 <span>Commits</span></li>
				    <li>32    <span>Following</span></li>
				    <li>324   <span>Followers</span></li>
			    </ul>
				<a href="javascript:void(0);" class="follow">
			      Buttons!
			    </a>
			</div>
			
		</article>
		<h1>Dzu Pham<small>PandaZu</small></h1>
	</section>

	<!-- Section #2 / Background Only -->
	<section id="second" class="story" data-speed="4" data-type="background">
		<article>
			<h2>Background Only</h2>
		    	<p>In this section we are sliding the background at a different speed to the rest of the page.</p>
		    	<p>As this text box is scrolling at the same speed as the page, and faster than the background, it creates this lovely parallax effect.</p>
		    	<p>You can find all the HTML, CSS and the all important JavaScript files over at GitHub - so why don't you drop by for some hardcore forking action?</p>
		    	<p>Backgrounds for this article were taken from the May/June 2011 Smashing Magazine Desktop backgrounds.</p>	
		    		
		</article>
	</section>
	
	<!-- Section #3 / Photos -->
	<section id="third" class="story" data-speed="6" data-type="background" data-offsetY="250">    	
		<div class="photograph" data-type="sprite" data-offsetY="1250" data-Xposition="25%" data-speed="2"></div>
    	<article>
    		<h2>Scrolling Sprites</h2>
	    	<div class="textbox">    	
		    	<p>The next step in your parallax scrolling adventure is to create some sprites!</p>
		    	<p>I have cut out one of the photos in this background and use it as a sprite. It scrolls at a different speed to the background <i>and</i> the window, and it's this effect that's used so well on Nike Better World and other parallax sites..</p>
		    	<p>Using too many sprites can slow down older computers, and you need to use some clever maths (and trial & error!) to work out their placement on the page.</p>
		    </div>
    	</article>
	</section>	
	

  </div> <!-- // End of #main -->




{% endblock %}
