{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Professors{% endblock %}

{% block content %}
  {% if professors|length > 0 %}
    <div class="latest-block">
      <h2>
        Latest {{professors|length}} Professor(s)
      </h2>
    </div>
    {% for professor in professors %}
      <div class="divider divider--dark" ></div>
      <div class="card bgc-grey-300 tc-black-1 p+" professor-id="{{ professor.id }}">
        <li class="list-row">
          <div class="list-row__content">
            <span class="display-block">{{ professor.first_name }} {{ professor.last_name }}</a></span>
            <span class="display-block fs-body-1 tc-black-2">{{ professor.school.name }}</span>
            <a href="{% url 'professor' professor_id=professor.id %}">View</a><br />
          </div>
          <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
          </div>
        </li>
      </div>
    {% endfor %}
  {% else %}
    <h2>There are no professors</h2>
  {% endif %}
{% endblock %}

