{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load formlets %}
{% block title %}Professors{% endblock %}
{% block js %}
  <script src="{% static 'new/js/new.js' %}"></script>
{% endblock %}

{% block content %}
  {% if professors|length > 0 %}
    <h2 class="tc-white-1 p+" align="left">Latest {{professors|length}} Professor(s)</h2>
    {% for professor in professors %}
      <div class="divider divider--dark" ></div>
      <div class="card bgc-grey-300 tc-black-1 p+" professor-id="{{ professor.id }}">
        <li class="list-row">
          <div class="list-row__content">
            <span class="display-block">{{ professor.first_name }} {{ professor.last_name }}</a></span>
            <span class="display-block fs-body-1 tc-black-2">{{ professor.school.name }}</span>
            <a href="{% url 'professor' professor_id=professor.id %}">View</a><br />
          </div>
          <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
          </div>
        </li>
      </div>
    {% endfor %}
  {% else %}
    <h2>There are no professors</h2>
  {% endif %}
  <lx-button 
      lx-type="icon" 
      lx-tooltip="Add Professor" 
      lx-tooltip-position="left" 
      ng-click="opendDialog('professorCall')">
      <i class="mdi mdi-plus"></i>
  </lx-button>

  {% new_professor_popup %}

       

{% endblock %}

