{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load gravatar %}
{% load sass_tags %}
{% load cards %}
{% load formlets %}
{% block title %}Profile{% endblock %}


{% block content %}
<body>
  <!--link rel="stylesheet" type="text/scss" href="{% static 'browse/scss/profile_style.scss' %}"-->
  <link href="{% sass_src "browse/scss/profileStyle.scss" %}" rel="stylesheet"
        type="text/css" />
  <link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
        type="text/css" />

<div class="profile_banner">
	<div class="profile_picture">
		<figure class="profile-picture"
			style="background-image: url('{% gravatar_url profile.email 200 %}')">
		 </figure>

		 <div class="profile_data">
      	<h3 class="profile">
      		<font color = "#151515" >School: </font> <p> Misssouri Sciecne and Technology </p>
      		<p> <font color = "#151515" >Review{{ profile.review_set.count|pluralize }}: </font>{{ profile.review_set.count }} </p>
        		<p> <font color = "#151515" >Rating: </font>{{ user_rating }}</p>
      	</h3>
		 </div>
	</div>

	<div class="profile_slider">
		<div class="profile_name">
			<h1 class="profile">{{ profile.first_name }} {{ profile.last_name }}</h1>
			<h4 class="profile">{{ profile.username }}</h4>
		</div>
		<div class="picture_box">
			<div class="box_left"></div>
			<!--<section id="profile_header" data-speed="8" data-type="background"></section>-->
			<div class="box_mid"></div>
			<div class="box_right"></div>
		</div>
	</div>

</div>


  <div>

	<!-- Section #2 / Background Only -->
	<section id="profile_body">

  <div ng-app="lumxWrap">
    <span class="fs-title display-block mb">User Reviews</span>
    <div class="divider divider--dark"></div>
    <div flex-container="row" flex-column="12">

      <div flex-item="1"></div>
      <div flex-item="10">

    		{% if review_votes|length > 0 %}
    			{% for review, vote in review_votes %}
    				{% review_card review vote %}
    			{% endfor %}
    		{% else %}
    			<h2>There are no more reviews</h2>
    		{% endif %}

      </div>

    </div>
  </div>


	</section>

  </div> <!-- // End of #main -->

</body>
{% endblock %}
