{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load gravatar %}
{% block title %}Profile{% endblock %}

{% block content %}
<body>

<link rel="stylesheet" type="text/css" href="{% static 'browse/css/profile_style.css' %}"> 


<div class="profile_banner">
	<div class="profile_picture">
		<figure class="profile-picture"
			style="background-image: url('{% gravatar_url profile.email 200 %}')">
		 </figure>

		 <div class="profile_data">
		 	<h3 class="profile"> 
		 		<font color = "#737373" >School: </font> <p> Misssouri Sciecne and Technology </p>
		 		<p> <font color = "#737373" >Review{{ profile.review_set.count|pluralize }}: </font>{{ profile.review_set.count }} </p>
        <p> <font color = "#737373" >Rating: </font>{{ user_rating }}</p>
		 	</h3>
		 </div>
	</div>

	<div class="profile_slider">
		<div class="profile_name">
			<h1 class="profile">{{ profile.first_name }} {{ profile.last_name }}</h1>
			<h4><font color = "#333333">{{ profile.username }}</font></h4>
		</div>
		<div class="picture_box">
			<div class="box_left"></div>
			<!--<section id="profile_header" data-speed="8" data-type="background"></section>-->
			<div class="box_mid"></div>
			<div class="box_right"></div>
		</div>
	</div>
	
	
</div>


  <div>

	<!-- Section #2 / Background Only -->
	<section id="profile_body" class="story" data-speed="4" data-type="background">
		<article>
			<h1>Background Only</h1>
	    	<p>Testing this section</p>
	    	<p>EVERYONE PUT THE CONTENT IN THIS AREA</p>
	    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>	
		    		
		</article>

	</section>

  </div> <!-- // End of #main -->

{% endblock %}
