{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load cards %}
{% load gravatar %}

{% block title %}Professor{% endblock %}
{% block header %}
<link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block js %}
  <script src="{% static 'new/js/new.js' %}"></script>
{% endblock %}

{% block content %}
<div id="demo" class="review-card-large card-color">
  <div class="professor-title">
      <img src="{% static 'browse/img/professor.png' %}"
           class="professor-avatar">
      <div class="professor-name">
        {{ professor.first_name }}
        {{ professor.last_name }}
      </div>
    </a>
  </div>
  <div class="professor-info">
    <a href="{% url "school" professor.school.id %}">
      {{ professor.school.name }}
    </a>
  </div>
</div>

  <md-content ng-cloak="" style="margin-top: 20px; background-color: #eeeeee;">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Reviews">
        <md-content style="margin-top: 20px; background-color: #eeeeee;">
          {% if review_votes|length > 0 %}
            {% for review, vote in review_votes %}
              {% review_card review vote %}
            {% endfor %}
          {% else %}
            <h2 class="no-items">There are no reviews for this professor.</h2>
          {% endif %}
        </md-content>
      </md-tab>

      <md-tab label="Courses">
        <md-content style="margin-top: 20px; background-color: #eeeeee;">
          {% if courses|length > 0 %}
            {% for course in courses %}
             {% course_card course %}
            {% endfor %}
          {% else %}
            <h2 class="no-items">There are no courses associated with this professor.</h2>
          {% endif %}
        </md-content>
      </md-tab>

      <md-tab label="Schools">
        <md-content style="margin-top: 20px; background-color: #eeeeee;">
          {% if schools|length > 0 %}
            {% for school in schools %}
              {% school_card school %}
            {% endfor %}
          {% else %}
            <h2 class="no-items">There are no schools for this professor.</h2>
          {% endif %}
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>

{% endblock %}
