{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
  <br />
  {{ message }}<br />
  <br />
  <br />
  <!--
  <ul>
    <li><a href="{% url 'reviews_overview' %}">Reviews Overview</a></li>
    <li><a href="{% url 'reviews' 2 %}">Reviews Pg 2</a></li>
    <li><a href="{% url 'reviews_by_type_one' page=0 type='by_school' first_id=0 %}">All Review at School #0</a></li>
    <li><a href="{% url 'reviews_by_type_one' page=0 type='by_professor' first_id=0 %}">All Reviews for  Professor #0</a></li>
    <li><a href="{% url 'reviews_by_type_two' page=0 type='by_school_professor' first_id=0 second_id=0 %}">All Review Professor #0 at School #0</a></li>
  </ul>

  {% for var in numbers %}
    {{ var }}<br />
  {% endfor %}
  -->


  <div ng-app="lumxWrap">
  
    <h2>This is a form</h2><br />
    <form method="post" action="">
      {% csrf_token %}
      {{ form }} 
      <br />
      <input type="submit" value="Submit Review" class="btn btn--xl btn--blue btn--raised" lx-ripple />
    </form>
    <div class="divider divider" style="height: 40px;"></div>

    <div flex-item>
        <lx-select ng-model="ajax.selected" change="cbSelect.exec(newValue, oldValue)" placeholder="Lorem Ipsum"
                   choices="ajax.list"  filter="ajax.update(newValue, oldValue)" loading="{{ ajax.loading }}"
                   min-length="2" allow-clear="true" selection-to-model="ajax.toModel(data, callback)"
                   model-to-selection="ajax.toSelection(data, callback)">
            <lx-select-selected>
               <!-- Variables go here... -->
            </lx-select-selected>

            <lx-select-choices>
                <!-- More variables go here-->
            </lx-select-choices>
        </lx-select>

        <button class="btn btn--m btn--blue btn--raised mt" ng-click="ajax.selected = 'Inception'" lx-ripple>Set to 'Inception'</button>
    </div>
    <div class="card">
        <div class="toolbar">
            <lx-search-filter model="searchFilter.fifth" filter-width="100%" placeholder="Search"></lx-search-filter>
        </div>
    </div>
  </div>
{% endblock %}
