{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load gravatar %}
{% load cards %}

{% block title %}View Review{% endblock %}
{% block header %}
<link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block content %}
<div id="demo" class="review-card-large card-color">
  <div class="professor-title">
    <a href="{% url "professor" professor_id=review.target.id %}">
      <img src="{% gravatar_url review.owner.email 100 %}"
           class="professor-avatar">
      <div class="professor-name">
        {{ review.target.first_name }} 
        {{ review.target.last_name }}
      </div>
    </a>
  </div>
  <div style="float: right;">
    <div class="review-rating">
      <div class="rating-title">
        Overall
      </div>
      <div class="average">{{ review.rating_overall }}</div>
      <div class="out-of">
        /5
      </div>
    </div>
    <div class="review-rating">
      <div class="rating-title">
        Difficulty
      </div>
      <div class="sub-rating">{{ review.rating_difficulty }}</div>
      <div class="out-of">
        /5
      </div>
    </div>
    <div class="review-rating">
      <div class="rating-title">
        Value
      </div>
      <div class="sub-rating">{{ review.rating_value }}</div>
      <div class="out-of">
        /5
      </div>
    </div>
  </div>
  <div class="professor-info">
    <a href="{% url "school" review.course.department.school.id %}">
      {{ review.course.department.school.name }}
    </a> - 
    {% comment %}
    <a href="{% url "department" review.course.department.id %}">
    {% endcomment %}

      {{ review.course.department.name }}

    {% comment %}
    </a>
    {% endcomment %}
    <br />
    &nbsp; {{ review.course.name }} ({{ review.course.number }})<br />
  </div>

  <strong class="review-title">Title of Review</strong>
  <div class="review-info">
    <a href="{% url "profile" review.owner.id %}">
      {% if review.owner.first_name or review.owner.last_name %}
        {{ review.owner.first_name }} {{ review.owner.last_name }} 
        ({{ review.owner.username }})
      {% else %}
        {{ review.owner.username }}
      {% endif %}

      {% if not review.update_ts %}
        {{ review.created_ts|date:"DATETIME_FORMAT" }}
      {% else %}
        Last Update: {{ review.updated_ts|date:"DATETIME_FORMAT" }}
      {% endif %}
    </a>
  </div>

  <div class="review-text">
    {{ review.text }}
  </div>
  {% for comment in comments %}
    {% comment_card comment %}
  {% endfor %}
</div>
{% endblock %}
