{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load gravatar %}
{% load cards %}
{% load formlets %}

{% block title %}View Review{% endblock %}
{% block header %}
<link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
      type="text/css" />
<link href="{% sass_src "browse/scss/special.scss" %}" rel="stylesheet"
      type="text/css" />
{% endblock %}
{% block js %}
  <script src="{% static 'new/js/new.js' %}"></script>
  <script src="{% static 'browse/js/special.js' %}"></script>
{% endblock %}

{% block content %}
<div id="demo" class="review-card-large card-color">
  {% if user.is_authenticated and review.owner == user %}
    <div ng-controller="form-handler" model="review" edit="{{ review.id }}"
         class="edit-icon-outer">
      <lx-button lx-tooltip="Edit" lx-type="icon" lx-tooltip-position="left"
                 ng-click="opendDialog('reviewCall')">
        <i class="edit-icon fa fa-pencil"></i>
      </lx-button>
      {% new_review_popup True %}
    </div>
  {% elif user.is_authenticated %}
    <div ng-controller="form-handler" model="review" report="{{ review.id }}"
         class="edit-icon-outer">
      <lx-button lx-tooltip="Report" lx-type="icon" lx-tooltip-position="left"
                 ng-href="{% url "new_report" "new" "review" review.id %}">
        <i class="edit-icon fa fa-warning"></i>
      </lx-button>
    </div>
  {% endif %}
  <div class="professor-title">
    <a href="{% url "professor" professor_id=review.target.id %}" target="_parent">
      <img src="{% static 'browse/img/professor.png' %}"
           class="professor-avatar">
      <div class="professor-name">
        {{ review.target.first_name }}
        {{ review.target.last_name }}
      </div>
    </a>
  </div>
  <div style="float: right;">
        <div class="review-rating">
          <div class="average">{{ review.rating_overall }}</div>
          <div class="out-of">
            /5
          </div>
        </div>
        <div class="review-rating">
          <div class="rating-title">
            Difficulty
          </div>
          <div class="sub-rating">{{ review.rating_difficulty }}</div>
          <div class="out-of">
            /5
          </div>
        </div>
        <div class="review-rating">
          <div class="rating-title">
            Value
          </div>
          <div class="sub-rating">{{ review.rating_value }}</div>
          <div class="out-of">
            /5
          </div>
        </div>
    </div>
    <div class="professor-info">
      <a href="{% url "school" review.course.department.school.id %}" target="_parent">
        {{ review.course.department.school.name }}
      </a> -
      {% comment %}
      <a href="{% url "department" review.course.department.id %}" target="_parent">
      {% endcomment %}

        {{ review.course.department.name }}

      <br />
      &nbsp; {{ review.course.name }} ({{ review.course.number }})<br />
    </div>

    <strong class="review-title">{{ review.title }}</strong>
    <div class="review-info">
      <a href="{% url "profile" review.owner.id %}" target="_parent">
        {% if review.owner.first_name or review.owner.last_name %}
          {{ review.owner.first_name }} {{ review.owner.last_name }}
          ({{ review.owner.username }})
        {% else %}
          {{ review.owner.username }}
        {% endif %}

        &nbsp;
        &nbsp;
        {% if review.updated %}
          {{ review.created_ts|date:"DATETIME_FORMAT" }}
        {% else %}
          {{ review.updated_ts|date:"DATETIME_FORMAT" }}*
        {% endif %}
      </a>
    </div>

    <div class="review-text">
      {{ review.text }}
    </div>

    {% if comments|length > 0 %}
      <md-divider style="margin-top: 60px; margin-bottom: 40px;"></md-divider>
    {% endif %}

    {% for comment in comments %}
      {% comment_card comment request.user review %}
    {% endfor %}

    <div ng-controller="form-handler" model="reviewcomment">
      <lx-button id="siteButton" lx-size="l" lx-type="fab" lx-tooltip="Add Comment"
                  lx-tooltip-position="top" ng-click="opendDialog('commentCall')">
        <i class="mdi mdi-message-text"></i>
      </lx-button>
      {% new_comment_popup review %}
    </div>
  </div>
</div>

{% endblock %}
