{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Schools{% endblock %}

{% block content %}
  {% if schools|length > 0 %}
    <div class="latest-block">
      <h2>
        Latest {{schools|length}} School(s)
      </h2>
    </div>
    {% for s in schools %}
    <div class="padded-card" school-id="{{ s.school.id }}">
      <div class="rating">
        <!-- We should decide color and set it here --!>
        <div class="average">3.4</div>
        <div class="out-of">
          /5
        </div>
      </div>
      <div class="information">
        <div class="name">
          <a href="{% url "school" s.school.id %}">
            {{ s.school.name }}
          </a>
        </div>
        <div class="card-stats">
          <div class="location">{{ s.school_location }} </div>
          <div class="item">
            {{ s.num_professors }}<br />
            Professor{% if s.num_professors != 1 %}s{% endif %}
          </div>

          <div class="item">
            {{ s.num_reviews }}<br />
            Review{% if s.num_reviews != 1 %}s{% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <h2>There are no schools</h2>
  {% endif %}
{% endblock %}
