{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Schools{% endblock %}

{% block content %}
  <!--
  <ul>
    <li><a href="{% url 'reviews_overview' %}">Reviews Overview</a></li>
    <li><a href="{% url 'reviews' 2 %}">Reviews Pg 2</a></li>
    <li><a href="{% url 'reviews_by_type_one' page=0 type='by_school' first_id=0 %}">All Review at School #0</a></li>
    <li><a href="{% url 'reviews_by_type_one' page=0 type='by_professor' first_id=0 %}">All Reviews for  Professor #0</a></li>
    <li><a href="{% url 'reviews_by_type_two' page=0 type='by_school_professor' first_id=0 second_id=0 %}">All Review Professor #0 at School #0</a></li>
  </ul>

  {% for var in numbers %}
    {{ var }}<br />
  {% endfor %}
  -->

  {% if schools|length > 0 %}
    <h2 class="tc-white-1 p+" align="left">Latest {{schools|length}} School(s)</h2>
    {% for school in schools %}
    <div class="divider divider--dark" ></div>
    <div class="card bgc-grey-300 tc-black-1 p+" school-id="{{ school.id }}">
      <li class="list-row">
        <div flex-container="row" flex-gutter="24">
          <div flex-item="8">
            {% comment %}
            Why do schools have up/down arrows?
            <div flex-container="column" align="left">
              <div ng-app="lumxWrap">
                <div>
                  <button class="btn btn--l btn--blue btn--fab bgc-blue-600"
                          action="up" lx-ripple>
                    <i class="icon icon--l icon--white icon--flat mdi mdi-chevron-up"></i>
                  </button>
                </div>
                <div>
                  <i style="display: hidden;"
                     class="icon icon--xs icon--blue icon--flat mdi mdi-brightness-1 tc-grey-300"></i>
                </div>
                <div>
                  <button class="btn btn--l btn--blue btn--fab bgc-blue-600"
                          action="down" lx-ripple>
                    <i class="icon icon--l icon--white icon--flat mdi mdi-chevron-down"></i>
                  </button>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
        <div class="list-row__content">
          <span class="display-block">{{ school.name }}</a></span>
          <span class="display-block fs-body-1 tc-black-2">
            <a href="{{ school.url }}">{{ school.url }}</a></span>
            <br />
            <a href="{% url 'school' school.id %}">View School Reviews</a></span>
        </div>
        <div class="list-row__secondary">
          <i class="icon icon--xs icon--blue icon--flat mdi mdi-information"></i>
        </div>
      </li>
    </div>
    {% endfor %}
  {% else %}
    <h2>There are no schools</h2>
  {% endif %}
{% endblock %}
