{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load cards %}
{% block title %}School{% endblock %}

{% block header %} 
  <link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
        type="text/css" />
{% endblock %}

<br />
{% block content %}
  <div class="card card-color">
    <br />
    <strong>School</strong>: {{ school.name }}<br />
    <strong>Location</strong>: {{ school_location }}<br />
    <strong>Email Pattern</strong>:{{ school.email_pattern }}<br />
    {% if school.url %}
      <strong>Website</strong>:<a href="{{school.url}}">{{ school.url }}<a /><br />
    {% endif %}
    <br />
    Created: {{ professor.created_ts|date:"DATETIME_FORMAT" }}<br />
    {% if professor.update_ts %}
      Last Update: {{ professor.updated_ts|date:"DATETIME_FORMAT" }}<br />
    {% endif %}
  </div>

  <md-content ng-cloak="" style="margin-top: 20px;">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Reviews">
        <md-content style="margin-top: 20px;">
          {% if review_votes|length > 0 %}
            {% for review, vote in review_votes %}
              {% review_card review vote %}
            {% endfor %}
          {% else %}
            <h2>There are no reviews for professors at this school.</h2>
          {% endif %}
        </md-content>
      </md-tab>

      <md-tab label="Courses">
        <md-content style="margin-top: 20px;">
          {% if courses|length > 0 %}
            {% for course in courses %}
            {{ course.name }}
            {% endfor %}
          {% else %}
            <h2>There are no courses listed for this school.</h2>
          {% endif %}
        </md-content>
      </md-tab>

      <md-tab label="Professors">
        <md-content style="margin-top: 20px;">
          {% if professors|length > 0 %}
            {% for professor in professors %}
              {% professor_card professor %}
            {% endfor %}
          {% else %}
            <h2>There are no professors listed for this school.</h2>
          {% endif %}
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
{% endblock %}
