{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Schools{% endblock %}

{% block content %}
  {% if schools|length > 0 %}
    <h2 class="tc-white-1 p+" align="left">Latest {{schools|length}} School(s)</h2>
    {% for school in schools %}
    <div class="divider divider--dark" ></div>
    <div class="card bgc-grey-300 tc-black-1 p+" school-id="{{ school.id }}">
      <li class="list-row">
        <div class="list-row__content">
          <span class="display-block">{{ school.name }}</a></span>
          <span class="display-block fs-body-1 tc-black-2">
            <a href="{{ school.url }}">{{ school.url }}</a></span>
          <br />
          <a href="{% url 'school' school.id %}">View School Reviews</a></span>
        </div>
        <div class="list-row__secondary">
          <i class="icon icon--xs icon--blue icon--flat mdi mdi-information"></i>
        </div>
      </li>
    </div>
    {% endfor %}
  {% else %}
    <h2>There are no schools</h2>
  {% endif %}
{% endblock %}
