{% extends 'browse/base.html' %}
{% load staticfiles %}
{% block title %}Setting{% endblock %}

{% block content %}
<body>

<link rel="stylesheet" type="text/css" href="{% static 'browse/css/profile_style.css' %}">


<div ng-app="lumxWrap">
  <div flex-container="row" flex-column="12">
		<div flex-item="3" style="text-align: left; padding: 0 20px 0 20px;">

			<div flex-item="6" class="mt++">
        <span class="fs-title display-block mb">User Setting</span>

        <div class="divider divider--dark"></div>

        <ul class="list mt++">
            <li class="list-row list-row--has-separator">

                <div class="list-row__content">
                    <span class="display-block">Name</span>
                    <span class="display-block fs-body-1 tc-black-2">{{ profile.first_name }} {{ profile.last_name }}</span>
                </div>
            </li>
            <li class="list-row list-row--has-separator">

                <div class="list-row__content">
                    <span class="display-block">Username</span>
                    <span class="display-block fs-body-1 tc-black-2">{{ profile.username }}</span>
                </div>
            </li>
            <li class="list-row list-row--has-separator">

                <div class="list-row__content">
                    <span class="display-block">E-mail</span>
                    <span class="display-block fs-body-1 tc-black-2">{{ profile.email }}</span>
                </div>
            </li>
        </ul>
    	</div>

		</div>

		<div flex-item="1"></div>

		<div flex-item="6">
			<div flex-container="row">
				<div flex-item="6" style="padding:0 5px 0 0">
				  <lx-text-field label="First Name">
				      <input type="text" ng-model="textFields.first.name"name="firstname">
				  </lx-text-field>
				</div>
				<div flex-item="6">
				  <lx-text-field label="Last Name">
			      <input type="text" ng-model="textFields.last.name"name="lastname">
			  	</lx-text-field>
				</div>
			</div>

		  <lx-text-field label="E-mail">
	      <input type="text" ng-model="textFields.email.name"name="email">
	  	</lx-text-field>

			<lx-text-field label="UserName">
	      <input type="text" ng-model="textFields.user.name" name="username">
	    </lx-text-field>

		  <lx-text-field label="Password">
	      <input type="password" ng-model="textFields.password.name"name="password">
	  	</lx-text-field>

		  <lx-text-field label="Repeat Password">
	      <input type="password" ng-model="textFields.password.name"name="password">
	  	</lx-text-field>
			<button id="siteButton" class="btn btn--l btn--raised" type="submit" style="margin-top:20px;"
							ng-submit="submit(data)" lx-ripple />Update</button>
		</div>

  </div>
</div>

</body>
{% endblock %}
