{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load cards %}

{% block title %}Wardrobe{% endblock %}
{% block header %}
<link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block content %}

<div class="review-card-small">
  <div flex-container="row">
    {% if peerReviews|length > 0 %}
      {% for peerReview in peerReviews %}
          <strong class="review-title">
        {{ peerReview.target.title }}
          </strong>
          <span class="display-block">
            <b> {{ peerReview.target.course.name }} </b> <br />
            with <b>
              {{ peerReview.target.target.first_name }} {{ peerReview.target.target.last_name }}
            </b>
            <a href="{% url 'peerreview' peerReview.id %}">Edit Review</a>
          </span>
      {% endfor %}
    {% else %}
      No more peer reviews to do<br />.
    {% endif %}
  </div>
</div>

{% endblock %}

