{% extends 'browse/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load cards %}

{% block title %}Wardrobe{% endblock %}
{% block header %}
<link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block content %}

<div flex-container="row" flex-gutter="12">
  <div flex-item="1"></div>
  <div flex-item="10">

    {% if peerReviews|length > 0 %}
    {% for peerReview in peerReviews %}

    <div class="review-card-small padded-card">
      <div flex-container="column">
        <strong class="review-title">
          {{ peerReview.target.title }}
        </strong>
        <span class="display-block">
          <b> {{ peerReview.target.course.name }} </b> <br />
          with
          <b>
            {{ peerReview.target.target.first_name }} {{ peerReview.target.target.last_name }}
          </b>
          <a href="{% url 'peerreview' peerReview.id %}">Edit Review</a>
        </span>
      </div>
    </div>

    {% endfor %}
    {% else %}
    No more peer reviews to do<br />.
    {% endif %}
  </div>

</div>

{% if request.user.is_staff %}
  <a href="{% url 'reports' %}">
    <button id="siteButton" class="md-raised md-button md-primary md-ink-ripple">
      Reports
    </button>
  </a>
  <a href="{% url 'logs' %}">
    <button id="siteButton" class="md-raised md-button md-primary md-ink-ripple">
      Logs
    </button>
  </a>
{% endif %}

{% endblock %}
