<form method="post" ng-submit="submit()">
  {% csrf_token %}

  {% verbatim %}
  <div flex-container="row" ng-model="valid.error" 
                            class="p+ error bgc-red-500 tc-white-1"
                            ng-show="valid.error != ''">
    <center>
      {{ valid.error }}
    </center>
  </div>
  <div flex-container="row" flex-gutter="24">
    <div flex-item>
      <lx-text-field label="Department Name">
        <input type="text" ng-model="data.name" error="valid.name != ''">
      </lx-text-field>
      <span class="text-field-error" ng-show="valid.name != ''">{{ valid.name }}</span>
    </div>

    <div flex-item>
      <lx-text-field label="Department Website">
        <input type="text" ng-model="data.url" error="valid.url != ''">
      </lx-text-field>
      <span class="text-field-error" ng-show="valid.url != ''">{{ valid.url }}</span>
    </div>
  </div>

  <div flex-container="row" flex-gutter="24">
    <div flex-item style="margin-left: 5%; margin-right: 5%" class="p+">
      <lx-select ng-model="data.school" placeholder="School"
                 choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'schools_matching')" 
                 loading="{{ ajax.loading }}" min-length="2" allow-clear="true"
                 error="valid.school != ''">
        <lx-select-selected>
          {{ $selected.name }}
        </lx-select-selected>

        <lx-select-choices>
          {{ $choice.name }}
        </lx-select-choices>
      </lx-select>
      <span class="text-field-error" ng-show="valid.school != ''">{{ valid.school }}</span>
    </div>

    <div flex-item style="margin-right: 5%; margin-left: 5%" class="p+">
      <lx-select ng-model="data.fields" placeholder="Fields"
                                        choices="ajax.list"  filter="ajax.update(newValue, oldValue, 'fields_matching')" 
                                                             loading="{{ ajax.loading }}" allow-clear="true"
                                                                                          error="valid.fields != ''"
                                                                                          multiple floating-label>
        <lx-select-selected>
          {{ $selected.name }}
        </lx-select-selected>

        <lx-select-choices>
          {{ $choice.name }}
        </lx-select-choices>
      </lx-select>
      <span class="text-field-error" ng-show="valid.fields != ''">{{ valid.fields }}</span>
    </div>
  </div>

  {% endverbatim %}

  <button class="btn btn--l btn--blue btn--raised"type="submit" ng-submit="submit()" lx-ripple />Add Department</button>


</form>
