{% load staticfiles %}
{% load formlets %}

<link href="{% static 'geoposition/geoposition.css' %}" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>

<lx-dialog class="dialog dialog--l" id="schoolCall" auto-close="true"
           onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div id="popup" class="toolbar pl++">
      <span class="toolbar__label tc-white fs-title">
        {% if not is_edit %}
          New School
        {% else %}
          Edit School
        {% endif %}
      </span>
    </div>
  </div>

  {% new_school form True is_edit %}
</lx-dialog>
