{% load staticfiles %}
<form method="post" ng-submit="submit()">
  {% csrf_token %}

  {% verbatim %}
  <div flex-container="row" ng-model="valid.error"
       class="p+ error bgc-red-500 tc-white-1"
       ng-show="valid.error">
    <center>
      {{ valid.error }}
    </center>
  </div>
  <div flex-container="column" flex-gutter="24">
    <div flex-item style="margin: 30px;">
      <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Name">
                <input type="text" ng-model="data.name" error="valid.name">
            </lx-text-field>
            <span class="text-field-error" ng-show="valid.name">{{ valid.name }}</span>
        </div>

         <div flex-item>
            <lx-text-field label="Email Pattern">
                <input type="text" ng-model="data.email_pattern" error="valid.email_pattern"
                       ng-model-updates="{ debounce: 1000 }">
            </lx-text-field>
            <span class="text-field-error" ng-show="valid.email_pattern">{{ valid.email_pattern }}</span>
        </div>
      </div>
      <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="URL">
                <input type="url" ng-model="data.url" error="valid.url">
            </lx-text-field>
            <span class="text-field-error" ng-show="valid.url">{{ valid.url }}</span>
        </div>
      </div>

      <div id="geoposition-widget" class="geoposition-widget" data-map-widget-height="480" data-map-options="{}" data-marker-options="{}">
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
              <lx-text-field label="Latitude">
                  <input id="lat-input" class="geoposition"  type="text" ng-model="data.location['lat']" error="valid.lat != ''">
              </lx-text-field>
              <span class="text-field-error" ng-show="valid.lat">{{ valid.lat }}</span>
          </div>
          <div flex-item>
              <lx-text-field label="Longitude">
                  <input id="lng-input" class="geoposition"  type="text" ng-model="data.location['lng']" error="valid.lng">
              </lx-text-field>
              <span class="text-field-error" ng-show="valid.lng">{{ valid.lng }}</span>
          </div>
        </div>
      </div>
      <button id="siteButton" class="btn btn--l btn--raised"type="submit"
            ng-submit="submit(data)" lx-ripple />Submit</button>
    </div>
  </div>
    {% endverbatim %}
    {% if is_popup %}
      <script type="text/javascript" src="{% static 'new/js/geoposition-popup.js' %}"></script>
    {% else %}
      <link href="{% static 'geoposition/geoposition.css' %}" type="text/css" media="all" rel="stylesheet">
      <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
      <script type="text/javascript" src="{% static 'new/js/geoposition.js' %}"></script>
    {% endif %}

</form>
