{% load gravatar %}

<div class="comment-card padded-card" reviewcomment-id="{{ comment.id }}" >
  <div flex-container="row">
    <div class="card__img card__img--left" style="margin-right: 20px;">
      <a href="{% url 'profile' comment.owner.id %}">
        <img src="{% gravatar_url comment.owner.email 80 %}">
      </a>
        <div class="display-block" style="align-content: center; font-size: 12px;">
          {{ comment.owner.username }}
        </div>
    </div>
    <div flex-container="column" style="margin-bottom: 10px;">
      <div flex-item align="left">
        <strong class="review-title" style="margin-top: 0px;">
          {{ comment.owner.first_name }} {{ comment.owner.last_name }}
        </strong>
        <div class="review-info">
          {% if not comment.updated %}
            {{ comment.created_ts|date:"DATETIME_FORMAT" }}
          {% else %}
            {{ comment.updated_ts|date:"DATETIME_FORMAT" }}*
          {% endif %}
        </div>
        <div class="comment-text">
          {{ comment.text }}
        </div>
      </div>
    </div>
    {% if user.is_authenticated and comment.owner == user or user.is_superuser %}
        <div flex-item align="right">
          <div class="delete-button-outer">
            <lx-button lx-tooltip="Delete" lx-type="icon" lx-tooltip-position="left"
                      class="delete-button"
                      action="delete"
                      model="reviewcomment"
                      model-id="{{ comment.id }}"
                      >
              <i class="delete-button-icon"></i>
            </lx-button>
          </div>
    {% else %}
    <!-- <div class="item">
      {{school.created_by}}<br />
      Creator
    </div> -->
    {% endif %}
  </div>
</div>
