{% load gravatar %}
{% load formlets %}

<div class="comment-card padded-card">
  {% if user.is_authenticated %}
    {% if user == comment.owner %}
      <div ng-controller="form-handler" model="reviewcomment" edit="{{ comment.id }}"
           class="edit-icon-outer">
        <lx-button lx-tooltip="Edit" lx-type="icon" lx-tooltip-position="left"
                   ng-click="opendDialog('commentCall_{{ comment.id }}')">
          <i class="edit-icon fa fa-pencil"></i>
        </lx-button>
        {% new_comment_popup review is_edit=True comment=comment %}
      </div>
    {% else %}
      <!-- This whole controller is boilerplate, but here just in case we do a popup. -->
      <div ng-controller="form-handler" model="reviewcomment" report="{{ comment.id }}"
           class="edit-icon-outer">
        <lx-button lx-tooltip="Report" lx-type="icon" lx-tooltip-position="left"
                   ng-href="{% url "new_report" "new" "reviewcomment" comment.id %}">
          <i class="edit-icon fa fa-warning"></i>
        </lx-button>
      </div>
    {% endif %}
  {% endif %}
  <div flex-container="row">
    <div class="card__img card__img--left" style="margin-right: 20px;">
      <a href="{% url 'profile' comment.owner.id %}">
        <img src="{% gravatar_url comment.owner.email 80 %}">
      </a>
        <div class="display-block" style="align-content: center; font-size: 12px;">
          {{ comment.owner.username }}
        </div>
    </div>
    <div flex-container="column" style="margin-bottom: 10px;">
      <div flex-item align="left">
        <strong class="review-title" style="margin-top: 0px;">
          {{ comment.owner.first_name }} {{ comment.owner.last_name }}
        </strong>
        <div class="review-info">
          {% if not comment.updated %}
            {{ comment.created_ts|date:"DATETIME_FORMAT" }}
          {% else %}
            {{ comment.updated_ts|date:"DATETIME_FORMAT" }}*
          {% endif %}
        </div>
        <div class="comment-text">
          {{ comment.text }}
        </div>
      </div>
    </div>
  </div>
</div>
