<div class="padded-card" style="margin: 20px;" course-id="{{ course.id }}">
  <div class="information">
    <div class="name" style="margin-top: 30px; margin-bottom: 30px;">
        <span class="fs-title display-block tc-black-2">
          <b>{{ course.name }}</b> ({{ course.number }}) <br />
          by <b> {{ course.department.name}} </b>
        </span>
        {% if course.created_by == user %}
          <div flex-container="row" align="justify">
            <div class="delete-button-container">
              <button lx-type="flat"
                      class="delete-button"
                      action="delete"
                      model="course"
                      model-id="{{ course.id }}"
                      lx-ripple>
                <i class="delete-button-icon"></i>
              </button>
            </div>
          </div>
        {% else %}
        <!-- <div class="item">
          {{school.created_by}}<br />
          Creator
        </div> -->
        {% endif %}
    </div>
  </div>
</div>
