{% load staticfiles %}
{% load sass_tags %}
{% load gravatar %}

{% block header %}
<link href="{% sass_src "browse/scss/reviews.scss" %}" rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block content %}

<div class="review-card-large card-color" id="mini_review" review-id="{{review.id}}">
  <div class="professor-title">
    <a href="{% url "professor" professor_id=review.target.id %}">
      <img src="{% gravatar_url review.owner.email 100 %}"
           class="professor-avatar">
      <div class="professor-name">
        {{ review.target.first_name }}
        {{ review.target.last_name }}
        Review things goes here
      </div>
    </a>
  </div>

  <div class="professor-info">
    <a href="{% url "school" review.course.department.school.id %}">
      {{ review.course.department.school.name }}
    </a> -
    {% comment %}
    <a href="{% url "department" review.course.department.id %}">
    {% endcomment %}

      {{ review.course.department.name }}

    {% comment %}
    </a>
    {% endcomment %}
    <br />
    &nbsp; {{ review.course.name }} ({{ review.course.number }})<br />
    {% if review.owner == user %}
      <div flex-container="row" align="justify">
        <div class="delete-button-container">
          <button lx-type="flat"
                  class="delete-button"
                  action="delete"
                  model="review"
                  model-id="{{ review.id }}"
                  lx-ripple>
            <i class="delete-button-icon"></i>
          </button>
        </div>
      </div>
    {% else %}
    <!-- <div class="item">
      {{school.created_by}}<br />
      Creator
    </div> -->
    {% endif %}
  </div>

</div>

{% endblock %}
