<!-- we get a review and a vote object. We also get a can_vote bool --!>
{% load gravatar %}

<div class="review-card-small"
     style="margin-bottom: 35px;" review-id="{{review.id}}">
  <div flex-container="row">
    <div class="hyperlink card__img card__img- - left" style="height: 100px;" >
      <img src="{% gravatar_url review.owner.email 100 %}" style="margin-right:20px;">
    </div>
    <div flex-item flex-container="column">
      <div align="left">
        <strong class="review-title hyperlink"
                onclick="window.location=\"{% url 'review' review_id=review.id %}\"">
          {{ review.title }}
        </strong>
        <span class="display-block fs-body-1 tc-black-2">
          <b>{{ review.course.name }}</b> <br />
          with <b> {{ review.target.first_name }} {{ review.target.last_name }} </b>
        </span>
        <span class="display-block">
          {{ review.owner.first_name }} {{ review.owner.last_name }}
        </span>
      </div>
    </div>
    <div ng-app="lumxWrap">
    {% if can_vote %}
      <div flex-container="row" align="right">
        <div class="vote-button-up-container">
          <button lx-type="flat"
                  class="vote-button-up {{ vote|yesno:"vote-button-active,," }}"
                  action="up" lx-ripple>
            <i class="vote-button-up-icon"></i>
          </button>
        </div>
        <div class="vote-button-down-container">
          <button lx-type="flat"
                  class="vote-button-down {{ vote|yesno:",vote-button-active," }}"
                  action="down" lx-ripple>
            <i class="vote-button-down-icon"></i>
          </button>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>
