<!-- we get a review and a vote object. We also get a can_vote bool --!>
{% load gravatar %}

<div class="review-card-small"
     style="margin-bottom: 35px;" review-id="{{review.id}}">
  <div flex-container="row">
    <div style="width: 20%; float: left;">
    <div class="card__img card__img--left" style="height: 100px;">
      <a href="{% url 'profile' review.owner.id %}">
        <img src="{% gravatar_url review.owner.email 200 %}" style="margin-right:20px;">
      </a>
    </div>
    </div>
    <div style="width: 40%; float: left;">
    <div flex-item flex-container="column">
      <a href="{% url 'review' review_id=review.id %}">
        <div flex-item align="left">
          <strong class="review-title" >Title of Review</strong>
          <span class="display-block fs-body-1 tc-black-2">
            <b>{{ review.course.name }}</b> <br />
            with <b> {{ review.target.first_name }} {{ review.target.last_name }} </b>
          </span>
          <span class="display-block">
            {{ review.owner.first_name }} {{ review.owner.last_name }}
          </span>
        </div>
      </a>
    </div>
    </div>
    <div ng-app="lumxWrap">
    {% if can_vote %}
    <div style="float: right; width: 20%">
      <div flex-container="row" >
        <div class="vote-button-up-container">
          <button lx-type="flat"
                  class="vote-button-up {{ vote|yesno:"vote-button-active,," }}"
                  action="up" lx-ripple>
            <i class="vote-button-up-icon"></i>
          </button>
        </div>
        <div class="vote-button-down-container">
          <button lx-type="flat"
                  class="vote-button-down {{ vote|yesno:",vote-button-active," }}"
                  action="down" lx-ripple>
            <i class="vote-button-down-icon"></i>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    </div>
  </div>
</div>
