<div class="padded-card" school-id="{{ school.id }}" style="margin: 20px;">
  <div class="rating">
    <div class="average">{{ school.rating }}</div>
    <div class="out-of">
      /5
    </div>
  </div>
  <div class="information">
    <div class="name">
      <div onclick="window.location='{% url "school" school.id %}';"
           class="hyperlink">
        {{ school.name }}
      </div>
    </div>
    <div class="card-stats">
      <div class="location">{{ school.human_location }} </div>
      <div class="item">
        {{ school.num_professors }}<br />
        Professor{% if school.num_professors != 1 %}s{% endif %}
      </div>

      <div class="item">
        {{ school.num_reviews }}<br />
        Review{% if school.num_reviews != 1 %}s{% endif %}
      </div>
      <div class="item">
      {% if school.created_by == user %}
        <div class="delete-button-outer">
          <lx-button lx-tooltip="Delete" lx-type="icon" lx-tooltip-position="left"
                    class="delete-button"
                    action="delete"
                    model="school"
                    model-id="{{ school.id }}"
                    >
            <i class="delete-button-icon"></i>
          </lx-button>
        </div>
      {% else %}
        <!-- {{school.created_by}}<br />
        Creator -->
      {% endif %}
    </div>
    </div>
  </div>
</div>
