


  <div class="padded-card" school-id="{{ school.id }}">
    <div flex-container="row" flex-column="12">

      <div flex-item="4">

        <div class="rating">
          <div class="average">{{ school.rating }}</div>
          <div class="out-of">
            /5
          </div>
        </div>

      </div>

      <div flex-item="4">
        <div class="information">
        <div class="name">
          <strong><div onclick="window.location='{% url "school" school.id %}';"
               class="hyperlink">
            {{ school.name }}
          </div></strong>
        </div>
      </div>
    </div>

    <div flex-item="4">
      <div class="information">

        <div class="card-stats">

          <div flex-item flex-container="column">
            <div flex-item>
              <div class="location">{{ school.human_location }} </div>
            </div>

            <div flex-item>
              <div class="item">
                {{ school.num_professors }}<br />
                Professor{% if school.num_professors != 1 %}s{% endif %}
              </div>

              <div class="item">
                {{ school.num_reviews }}<br />
                Review{% if school.num_reviews != 1 %}s{% endif %}
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="item">
      {% if user.is_authenticated and user.is_superuser %}
        <div class="delete-button-outer">
          <lx-button lx-tooltip="Delete" lx-type="icon" lx-tooltip-position="left"
                    class="delete-button"
                    action="delete"
                    model="school"
                    model-id="{{ school.id }}"
                    confirm="true"
                    >
            <i class="delete-button-icon"></i>
          </lx-button>
        </div>
      {% else %}
        <!-- {{school.created_by}}<br />
        Creator -->
      {% endif %}
    </div>
  </div>
</div>
